﻿@page "/squad/{SquadDesignation}"

<ul class="nav nav-tabs row">
    <li class="nav-item col">
        <button class="nav-link w-100 h-100 @(Active == SquadDisplayOption.Roster ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(SquadDisplayOption.Roster)">Roster</button>
    </li>
    @if (Loaded)
    {
        <DynamicAuthorizeView SectionName="Squad Promotion Board" IsPage="false">
            <Authorized>
                <li class="nav-item col">
                    <button class="nav-link w-100 h-100 @(Active == SquadDisplayOption.PromotionBoard ? "active bg-primary text-light" : "")" @onclick="(x) => OnTypeChange(SquadDisplayOption.PromotionBoard)">Promotion Board</button>
                </li>
            </Authorized>
        </DynamicAuthorizeView>
    }
</ul>
@if(Loaded)
{
    <div class="tab-content">
        @switch(Active)
        {
            case SquadDisplayOption.Roster:
                <table class="table table-striped table-hover">
                    @if(Data is not null)
                    {
                        <thead>
                        <tr class="table-dark text-light text-center">
                            <th colspan="4">@Slot.AsFull()</th>
                        </tr>
                    </thead>
                        <CascadingValue Value="Airborne" Name="Airborne">
                            <SquadDisplay Squad="Data" Number="Number" />
                        </CascadingValue>
                    }
                    else if (ZetaData is not null)
                    {
                        <thead>
                            <tr class="table-dark text-light text-center">
                                <th colspan="2">@Slot.AsFull()</th>
                            </tr>
                        </thead>
                        <ZetaSquadDisplay Squad="ZetaData" Number="Number" />
                    }
                    else if (FlightData is not null)
                    {
                        <thead>
                            <tr class="table-dark text-light text-center">
                                <th colspan="2">@Slot.AsFull()</th>
                            </tr>
                        </thead>
                        <RazorFlightDisplaySingle Flight="FlightData" FlightNumber="Number" />
                    }
                    else if (WardenData is not null)
                    {
                        <thead>
                            <tr class="table-dark text-light text-center">
                                <th colspan="4">@Slot.AsFull()</th>
                            </tr>
                        </thead>
                        <WardenFlightDisplay WardenFlight="WardenData" FlightNumber="Number"/>
                    }
                </table>
                break;
            case SquadDisplayOption.PromotionBoard:
                <h4>@Slot.AsFull()'s Promotion Board</h4>
                @if(Data is not null || ZetaData is not null || FlightData is not null || WardenData is not null)
                {
                    <CascadingValue Value="Airborne" Name="Airborne">
                        <SquadPromotionBoard Squad="Data" Zeta="ZetaData" Flight="FlightData" Warden="WardenData" Slot="(int)Slot" />
                    </CascadingValue>
                }
                else
                {
                    <em>No squad data was found. Make sure you are in a platoon or the provided designation is correct.</em>
                }
                break;
        }
    </div>
}
else
{
    <em>Loading...</em>
}
