@inherits RosterModel

<thead>
    <tr class="table-dark text-light text-center">
        <th colspan="2">
            @Number.AsOrdinal() Squad
        </th>
    </tr>
</thead>
<tbody>
    <tr role="@(Squad.SquadLeader is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.SquadLeader?.BirthNumber)">
        <th scope="row" class="text-end w-50">
            Squad Leader
        </th>
        <td class="w-50">
            @if (Squad.SquadLeader is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Squad.SquadLeader.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Squad.Leader is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Leader?.BirthNumber)">
        <th scope="row" class="text-end">
            Team Leader
        </th>
        <td >
            @if (Squad.Leader is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Squad.Leader.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Squad.RT is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.RT?.BirthNumber)">
        <th scope="row" class="text-end">
            RT
        </th>
        <td >
            @if (Squad.RT is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Squad.RT.DisplayRankName()                
            }
        </td>
    </tr>
    
    @for(int j = 0; j < Squad.Medics.Length; j++)
    {
        var d = j;
        <tr role="@(Squad.Medics[d] is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Medics[d]?.BirthNumber)">
            <th scope="row" class="text-end">
                Medic
            </th>
            <td >
                @if (Squad.Medics[d] is null)
                {
                    <span>TBD</span>
                }
                else
                {
                    @Squad.Medics[d].DisplayRankName()                
                }
            </td>
        </tr>
    }    
    <tr role="@(Squad.ARC is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.ARC?.BirthNumber)">
        <th scope="row" class="text-end">
            ARC
        </th>
        <td >
            @if (Squad.ARC is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Squad.ARC.DisplayRankName()                
            }
        </td>
    </tr>

    @for(int i = 0; i < Squad.Troopers.Length; i++)
    {
        var c = i;
        <tr role="@(Squad.Troopers[c] is null ? "" : "button")" @onclick="(x) => TrooperNav(Squad.Troopers[c]?.BirthNumber)">
            <th scope="row" class="text-end">
                Trooper
            </th>
            <td >
                @if (Squad.Troopers[c] is null)
                {
                    <span>TBD</span>
                }
                else
                {
                    @Squad.Troopers[c].DisplayRankName()                
                }
            </td>
        </tr>
    }
</tbody>

@code {
    [Parameter]
    public ZetaSquadData Squad { get; set; }
    [Parameter]
    public int Number { get; set; }
}
