@inherits RosterModel

<tbody>
    <tr role="@(Company.Commander is null ? "" : "button")" @onclick="(x) => TrooperNav(Company.Commander?.BirthNumber)">
        <th scope="row" class="text-end">
            Company Commander
        </th>
        <td class="text-start">
            @if (Company.Commander is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Company.Commander.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Company.XO is null ? "" : "button")" @onclick="(x) => TrooperNav(Company.XO?.BirthNumber)">
        <th scope="row" class="text-end">
            Company Executive Officer
        </th>
        <td class="text-start">
            @if (Company.XO is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Company.XO.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Company.NCOIC is null ? "" : "button")" @onclick="(x) => TrooperNav(Company.NCOIC?.BirthNumber)">
        <th scope="row" class="text-end">
            Company NCOIC
        </th>
        <td class="text-start">
            @if (Company.NCOIC is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Company.NCOIC.DisplayRankName()                
            }
        </td>
    </tr>
        <tr role="@(Company.Medic is null ? "" : "button")" @onclick="(x) => TrooperNav(Company.Medic?.BirthNumber)">
        <th scope="row" class="text-end">
            Company Medic
        </th>
        <td class="text-start">
            @if (Company.Medic is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Company.Medic.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Company.RT is null ? "" : "button")" @onclick="(x) => TrooperNav(Company.RT?.BirthNumber)">
        <th scope="row" class="text-end">
            Company RT
        </th>
        <td class="text-start">
            @if (Company.RT is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Company.RT.DisplayRankName()                
            }
        </td>
    </tr>
    <tr role="@(Company.Adjutant is null ? "" : "button")" @onclick="(x) => TrooperNav(Company.Adjutant?.BirthNumber)">
        <th scope="row" class="text-end">
            Company Adjutant
        </th>
        <td class="text-start">
            @if (Company.Adjutant is null)
            {
                <span>TBD</span>
            }
            else
            {
                @Company.Adjutant.DisplayRankName()                
            }
        </td>
    </tr>
</tbody>

@code {
    [Parameter]
    public ZetaCompanyData Company { get; set; }
}
