﻿<thead class="bg-primary text-light text-center">
    <tr>
        <th colspan="2">
            501st Legion, 1st Regiment, 3rd Battalion
        </th>
    </tr>
    <tr>
        <th colspan="2">
            Zeta Company
        </th>
    </tr>
</thead>

<ZetaCompanyStaff Company="Zeta" />

@if (true)
{
    int i = 0;
    @for (i = 0; i < Zeta.Sections.Length; i++)
    {
        <ZetaSectionDisplay Section="Zeta.Sections[i]" Number="i + 1" />
    }
}

@code {
    [Parameter]
    public ZetaCompanyData Zeta { get; set; }
}
